<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Name>@SOE_NAME@</Name>
	<Description>@SOE_NAME@</Description>
	<Date>@TIME_TAG@</Date>
	<Author />
	<Company>52North GmbH</Company>
	<Version>1.0</Version>
	<Targets>
		<Target name="server" version="10.1" />
	</Targets>
	<AddInID>{@GENERATED_UUID@}</AddInID>
	<AddIn language="Java">
		<ServerObjectType>
			<Name>MapServer</Name>
			<ExtensionTypes>			
				<ExtensionType class="@EXTENSION_CLASS@" id="@EXTENSION_ID@"
					library="@EXTENSION_LIBRARY@">
					<Name>@SOE_NAME@</Name>
					<DisplayName>@EXTENSION_DISPLAYNAME@</DisplayName>
					<Description>@EXTENSION_DESCRIPTION@ - version @TIME_TAG@</Description>
					<Properties>
						<urlSosExtension>http://discomap.eea.europa.eu/arcgis/rest/services/eReporting/SOS_Airquality_E2a/MapServer/exts/SOSExtension/</urlSosExtension>
						<title>AirQualitySOS</title>
						<description>Air quality observation across Europe</description>
						<keywords>Air quality, CO, O3, Carbon Monoxide, Ozone</keywords>
						<providerName>52North</providerName>
						<providerSite>http://eea.europa.eu</providerSite>
						<contactPersonName>Peter Kjeld</contactPersonName>
						<contactPersonPosition>Project Manager</contactPersonPosition>
						<contactPersonPhone>+4540201368</contactPersonPhone>
						<contactPersonFax></contactPersonFax>
						<contactPersonAddress>Kongens Nytorv 6</contactPersonAddress>
						<contactPersonCity>Copenhagen</contactPersonCity>
						<contactPersonAdminArea></contactPersonAdminArea>
						<contactPersonPostalCode>1050</contactPersonPostalCode>
						<contactPersonCountry>Denmark</contactPersonCountry>
						<contactPersonEmail>peter.kjeld@eea.europa.eu</contactPersonEmail>
					</Properties>
					<Info>
						<DefaultWebCapabilities />
						<AllWebCapabilities />
						<SupportsSOAP>true</SupportsSOAP>
						<SupportsREST>true</SupportsREST>
					</Info>
					<Resources>
						<WSDL>SOSExtension.wsdl</WSDL>
					</Resources>
				</ExtensionType>
			</ExtensionTypes>
		</ServerObjectType>
	</AddIn>
</ESRI.Configuration>
